<div class="mdl-step-2 step-select-car mdl-content-form">

    <div class="mdl-grid">
        <!--Colume left-->
      <div class="mdl-cell mdl-cell--6-col">
           <!--- Pick up date -->
        <div class="form-group">
            <label class="label-control"><mat-icon>today</mat-icon>  Pick up date</label>
            <div class="mdl-content">{{Reservation.PickUpDate | date : 'EEEE MMM d, y' }}</div>
          </div>

        </div>

        <!--Colume right-->
      <div class="mdl-cell mdl-cell--6-col">
          <!--- Pick up time -->
        <div class="form-group mdl-timepicker">
            <label class="label-control"><mat-icon>schedule</mat-icon> Pick up time</label>
            <div class="mdl-content">{{Reservation.PickUpTime}}</div>
          </div>

        </div>
     </div>   

       <!--- Please Select Meet and Greet -->  
    <div class="mdl-grid bt-1" *ngIf="Reservation.PickUpFrom == 'airport'">
      <div class="mdl-cell mdl-cell--12-col">
          <label class="label-control"><mat-icon>local_airport</mat-icon> Please Select Meet and Greet</label>
        </div>
        <div class="mdl-cell mdl-cell--12-col">
          <div class="mdl-grid mdl-radio-MeetGreet mdl-text-bold">
            <div class="mdl-cell mdl-cell--2-col label">Options</div> 
            <div class="mdl-cell mdl-cell--2-col label">Fee</div> 
            <div class="mdl-cell mdl-cell--2-col label">Parking</div> 
            <div class="mdl-cell mdl-cell--6-col label">Instructions</div> 
          </div>
        </div>  

      <div class="mdl-cell mdl-cell--12-col" *ngFor="let item of MeetGreet, let m = index">
        <div class="mdl-grid mdl-radio-MeetGreet {{ Select_MeetGreet_choose==m?'mdl-text-bold':'' }}">
          <!-- label-->
          <div class="mdl-cell mdl-cell--2-col">
            <label class="mdl-js-radio mdl-js-ripple-effect form-control" for="option-MeetGreet-{{ item.option }}">
              <input type="radio" id="option-MeetGreet-{{ item.option }}" class="mdl-radio__button" name="select_MeetGreet" value="{{ item.option }}" (click)="SelectMeetGreet(m)" checked="{{ Select_MeetGreet_choose==m?'checked':'' }}"  >
              <span class="mdl-radio__label">{{ item.label }}</span>
            </label>
          </div>
          <!-- label-->
          <div class="mdl-cell mdl-cell--2-col">{{ item.fee | currency }}</div>
          <div class="mdl-cell mdl-cell--2-col">{{ item.parking | currency }}</div>
          <div class="mdl-cell mdl-cell--6-col">{{ item.instructions }}</div>
        </div>          
      </div>
    </div>

    <!--- End Meet and Greet --> 



      <!--- Select car -->  
    <div class="mdl-grid bt-1">
        <div class="mdl-cell mdl-cell--12-col">
            <label class="label-control"><mat-icon>directions_car</mat-icon> Car type</label>
          </div>
        <div class="mdl-cell mdl-cell--12-col">
            <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect form-control-5" for="option-{{ item.name }}" *ngFor="let item of Select_cars, let s = index">
                <input type="radio" id="option-{{ item.name }}" class="mdl-radio__button" name="select_car" value="{{ item.name }}" (click)="SelectEvent(s)" checked="{{ select_choose==s?'checked':'' }}"  >
                <span class="mdl-radio__label">{{ item.label }}</span>
              </label>          
        </div>

        <div class="mdl-cell mdl-cell--12-col mdl-text-center">
               <img src="{{ select_img }}">   
        </div>
    </div>

    <!--- Infomation-->  
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
            <div class="form-group">
                <label class="label-control"><mat-icon>monetization_on</mat-icon> Price</label>
                <div class="mdl-content">${{ Select_item?.hours | number  }}</div>
              </div>     
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="form-group">
                <label class="label-control"><mat-icon>people</mat-icon> Passenger(s)</label>
                <div class="mdl-content">{{ Reservation.Passenger  | number:'2.0' }}</div>
              </div>     
        </div>
        <div class="mdl-cell mdl-cell--4-col">
            <div class="form-group">
                <label class="label-control"><mat-icon>luggage</mat-icon> Luggage(s)</label>
                <div class="mdl-content">{{ Reservation.Luggage  | number:'2.0' }}</div>
              </div>     
        </div>
    </div>

    <!--- Next step-->  
    <div class="control-navigation mdl-text-center mdl-mt-2">
        <div class="show-resulf">In case of $0 car price, we will notify you price by email.</div>
         <!-- Back -->
         <button type="button" (click)="UpdateBack(1)">
          Back 
      </button>
        <!-- Accent-colored raised button with ripple -->
        <button type="button" (click)="check_forms()">
            Passenger Information <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>


</div>