<div class="mdl-step-4 step-select-car mdl-content-form">
    <div class="head mdl-grid">
        <div class="mdl-layout-title mdl-cell mdl-cell--6-col">Review Reservation</div>
        <div class="collase mdl-text-right mdl-cell mdl-cell--6-col" (click)="show_collase()" *ngIf="show_review">Hide <mat-icon>keyboard_arrow_up</mat-icon>
        </div>
        <div class="collase mdl-text-right mdl-cell mdl-cell--6-col" (click)="show_collase()" *ngIf="!show_review">Show <mat-icon>keyboard_arrow_down</mat-icon>
        </div>
    </div>
    <!--Collase-->
    <div class="collase-show" *ngIf="show_review">
        <!---Time-->
        <div class="mdl-grid">
            <!--Colume left-->
            <div class="mdl-cell mdl-cell--6-col">
                <!--- Pick up date -->
                <div class="form-group">
                    <label class="label-control">
                        <mat-icon>today</mat-icon> Pick up date
                    </label>
                    <div class="mdl-content">{{Reservation.PickUpDate | date : 'EEEE MMM d, y' }}</div>
                </div>

            </div>
            <!--Colume right-->
            <div class="mdl-cell mdl-cell--6-col">
                <!--- Pick up time -->
                <div class="form-group mdl-timepicker">
                    <label class="label-control">
                        <mat-icon>schedule</mat-icon> Pick up time
                    </label>
                    <div class="mdl-content">{{Reservation.PickUpTime}}</div>
                </div>

            </div>
        </div>


        <!---Pick Up-->
        <div class="mdl-grid">
            <!--Colume left-->
            <div class="mdl-cell mdl-cell--6-col">
                <!--- Pick up from -->
                <div class="form-group">
                    <label class="label-control">
                        <mat-icon class="color-blue">room</mat-icon> Pick Up From
                    </label>
                    <div class="mdl-content-normal" *ngFor="let field of PickUpFromField.From[Reservation.PickUpFrom], let f = index">{{ field.label }}: {{ field.value }}</div>
                </div>
                <!--- End Pick up from -->

            </div>
            <!--End colume left-->

            <!--Colume right-->
            <div class="mdl-cell mdl-cell--6-col">
                <!--- Pick up To -->
                <div class="form-group">
                    <label class="label-control">
                        <mat-icon class="color-blue2">room</mat-icon> Drop Off Destination
                    </label>
                    <div class="mdl-content-normal" *ngFor="let field of PickUpFromField.To[Reservation.PickUpTo], let f = index">{{ field.label }}: {{ field.value }}</div>
                </div>
                <!--- End Pick up To -->

            </div>
            <!--End Colume right-->



        </div>

        <!--- Passenger Information -->
        <div class="mdl-grid">
            <!--- Passenger Information -->
            <div class="mdl-cell mdl-cell--6-col">
                <div class="form-group">
                    <label class="label-control">
                        <mat-icon>person</mat-icon> Passenger Information
                    </label>
                    <div class="mdl-content-normal">
                        <div class="mdl-content">{{ Passenger_Info.FirstName }} {{ Passenger_Info.LastName }}</div>
                        <div class="adress">{{ Passenger_Info.EmailAddress }}</div>
                        <div class="phone">{{ Passenger_Info.ContactNumber }}</div>
                    </div>
                </div>
            </div>
            <!--- End Passenger Information -->
            <!--- Pick Up Type -->
            <div class="mdl-cell mdl-cell--6-col">
                <div class="form-group">
                    <label class="label-control">
                        <mat-icon>menu</mat-icon>  Pick Up Type
                    </label>
                    <div class="mdl-content-normal">
                        <div class="mdl-content">{{ PickUpType[Reservation.PickUpType] }} {{ Reservation.PickUpType=='HR'?'('+Reservation.PickUpTypeHours +' hours)':''     }}</div>
                    </div>
                </div>
            </div>
            <!--- End Pick Up Type -->
 

        </div>

               <!--- Car Information -->
       <div class="mdl-grid">
        <!--- Car Type -->
        <div class="mdl-cell mdl-cell--6-col">
            <div class="form-group">
                <label class="label-control">
                    <mat-icon>directions_car</mat-icon> Car Type
                </label>
                <div class="mdl-content-normal">
                    <div class="mdl-content fontSSP">{{ car.label }}</div>
                </div>
            </div>
        </div>
        <!--- End Car Type -->
        <!--- Passenger(s)/ Luggage(s) -->
        <div class="mdl-cell mdl-cell--6-col">
            <div class="form-group">
                <label class="label-control">
                    <mat-icon>people</mat-icon>  Passenger(s)/ Luggage(s)
                </label>
                <div class="mdl-content-normal">
                    <div class="mdl-content">{{ Reservation.Passenger | number:'2.0' }}/{{ Reservation.Luggage | number:'2.0' }}</div>
                </div>
            </div>
        </div>
        <!--- End Passenger(s)/ Luggage(s) -->


    </div>


    </div>



       <!--- Book Information -->
       <div class="mdl-grid {{ b<1?'bt-1':'' }}" *ngFor='let item of Book_info, let b = index'>
        <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-content-normal"><label class="label-control">{{ item.label }}</label> </div>        
        </div>
        <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-content-normal" [innerHTML]="item.value"></div>
        </div>
    </div>
        <!--- End Book Information  -->


        <!--- Price Information -->
       <div class="mdl-grid {{ p<1?'bt-1':'' }} {{ item.name =='Total'?'bt-1':'' }}" *ngFor='let item of Price_info, let p = index'>
        <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-content-normal"><label class="label-control mdl-text-bold">{{ item.label }}</label> </div>        
        </div>
        <div class="mdl-cell mdl-cell--6-col">
                <div class="mdl-content-normal {{ item.name =='Total'?'mdl-text-bold':'' }}" >${{ item.value | number }}</div>
        </div>
        </div>
        <!--- End Price Information  -->

    <!--- Card Visa Information  -->
        <div class="mdl-grid bt-1">
            <div class="mdl-cell mdl-cell--12-col">
                <label class="label-control">
                <mat-icon>account_balance</mat-icon>  Payment Information
                </label>
            </div>
            <!--Left col-->
            <div class="mdl-cell mdl-cell--6-col">
                <div class="card-img"><img src="/assets/images/card.png"></div>  
            </div>
            <!--End Left col-->
            <!--Right col-->
            <div class="mdl-cell mdl-cell--6-col">
                <div class="form-group">
                    <mat-form-field appearance="fill" class="form-control">
                    <mat-label>Card No.*</mat-label>
                    <input  matInput type="number"  value="{{ Payment_info.card }}" (change)="ChangeEvent('card',$event)">
                    <div class="error-field" *ngIf="Check_form && (Payment_info.card.length < 15 || Payment_info.card.length > 16) ">Field is invalid. </div>
                  </mat-form-field>
                  </div>

                  <div class="form-group">
                    <mat-form-field appearance="fill" class="form-control">
                    <mat-label>Card Holder's Name*</mat-label>
                    <input  matInput  value="{{ Payment_info.holder_name }}" (change)="ChangeEvent('holder_name',$event)">
                    <div class="error-field" *ngIf="Check_form && !Payment_info.holder_name">Field is required. </div>
                  </mat-form-field>
                  </div>

                  <div class="form-group">
                    <mat-form-field appearance="fill" class="form-control-5">
                    <mat-label>Expires*</mat-label>
                    <input  matInput type="number" min="1"  value="{{ Payment_info.expires }}" (change)="ChangeEvent('expires',$event)">
                    <div class="error-field" *ngIf="Check_form && (Payment_info.expires < 0 || Payment_info.expires > 12 || !Payment_info.expires)">Field is invalid. </div>
                  </mat-form-field>

                  <mat-form-field appearance="fill" class="form-control-5">
                    <mat-label>CVV*</mat-label>
                    <input  matInput  value="{{ Payment_info.cvv }}" (change)="ChangeEvent('cvv',$event)">
                    <div class="error-field" *ngIf="Check_form && Payment_info.cvv.length != 3">Field is invalid. </div>
                  </mat-form-field>
                  </div>


                  <div class="form-group">
                    <mat-form-field appearance="fill" class="form-control">
                        <mat-label>Billing Zip*</mat-label>
                        <input  matInput  value="{{ Payment_info.billing_zip }}" (change)="ChangeEvent('billing_zip',$event)">
                        <div class="error-field" *ngIf="Check_form && !Payment_info.billing_zip">Field is required. </div>
                      </mat-form-field>
                  </div>


            </div>
             <!--End Right col-->
             <div class="mdl-cell mdl-cell--12-col">
                <mat-form-field appearance="fill" class="form-control mt-2">
                    <mat-label>Promo Code</mat-label>
                    <input  matInput  value="{{ Payment_info.promo_code }}" (change)="ChangeEvent('promo_code',$event)">
                  </mat-form-field> 
                  <div class="form-group text-contact-form" [innerHTML]="contact"></div>
             </div>
        </div>

    <!--- End Card Visa Information  -->


     
    <!--- Next step-->  
    <div class="control-navigation mdl-text-center mdl-mt-2">
        <!-- Back -->
        <button type="button" (click)="UpdateBack(3)">
         Back 
     </button>
       <!-- Accent-colored raised button with ripple -->
       <button type="button" (click)="check_forms()">
           Book it <mat-icon>arrow_forward</mat-icon>
       </button>
   </div>

</div>