<div class="mdl-navigation-controls mdl-container">
  <div class="mdl-grid-flex">
    <!--Step 1 New Reservation-->
    <div class="mdl-cell mdl-item-control mdl-typography--text-center {{ Step > 0?'is-active':'' }}">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">1</button>
      <label class="label-control mdl-block mdl-mt-2">New Reservation</label>
    </div>
    <!--End Step 1 -->

    <!--Step 2 Select Car and Rates -->
    <div class="mdl-cell mdl-item-control mdl-typography--text-center {{ Step > 1?'is-active':'' }}">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">2</button>
      <label class="label-control mdl-block mdl-mt-2">Select Car and Rates</label>
    </div>
    <!--End Step 2 -->

    <!--Step 3 Passenger Information -->
    <div class="mdl-cell mdl-item-control mdl-typography--text-center {{ Step > 2?'is-active':'' }}">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">3</button>
      <label class="label-control mdl-block mdl-mt-2">Passenger Information</label>
    </div>
    <!--End Step 3 -->

    <!--Step 4 Summarize and Payment-->
    <div class="mdl-cell mdl-item-control mdl-typography--text-center  {{ Step > 3?'is-active':'' }}">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">4</button>
      <label class="label-control mdl-block mdl-mt-2">Summarize and Payment</label>
    </div>
    <!--End Step 4 -->

    <!--Step 5 Confirmed-->
    <div class="mdl-cell mdl-item-control mdl-typography--text-center {{ Step > 4?'is-active':'' }}">
      <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect">5</button>
      <label class="label-control mdl-block mdl-mt-2">Confirmed</label>
    </div>
    <!--End Step 5 -->

  </div>
  <div class="mdl-line mdl-line-{{Step}}">

  </div>

</div>

<div class="mdl-reservation-step mdl-container">
  <!--Form Step 1 New Reservation-->
<app-new-reservation [DataItem]="Reservation" [PickUpFromData]="PickUpFromData" (GetData)="UpdateReservation($event)" *ngIf="Step==1"></app-new-reservation>
  <!--End Form Step 1 New Reservation-->

    <!--Form Step 2 Select Car and Rates-->
<app-select-car-rates [Reservation]="Reservation" [car]="car" [Select_cars]="Select_cars" [MeetGreet]="MeetGreet" [Select_MeetGreet_choose]="Select_MeetGreet_choose" (GetDataAirport)="UpdateAirport($event)" (GetData)="UpdateCar($event)" (Back)="UpdateBack(1)"  *ngIf="Step==2"></app-select-car-rates>
<!--End Form Step 2 Select Car and Rates-->

  <!--Form Step 3 Passenger Information-->
  <app-passenger-information [Reservation]="Reservation" [car]="Select_cars[car]" [Passenger_Info]="Passenger_Info" [PickUpFromField]="PickUpFromField" (GetFieldData)="UpdateFromField($event)" (GetData)="UpdateInfo($event)" (Back)="UpdateBack($event)"  *ngIf="Step==3"></app-passenger-information>
  <!--End Form Step 3 Passenger Information-->

  <!--Form Step 4 Summarize and Payment-->
  <app-summarize-payment [Reservation]="Reservation" [car]="Select_cars[car]" [MeetGreet]="MeetGreet[Select_MeetGreet_choose]" [Passenger_Info]="Passenger_Info" [Payment_info] = "Payment_info" [Price_info]="Price_info" [PickUpFromField]="PickUpFromField" (GetData)="UpdatePayment($event)" (Back)="UpdateBack($event)"  *ngIf="Step==4"></app-summarize-payment>
  <!--End Form Step 4 Summarize and Payment -->

  <!--Form Step 5 comfirmed-->
  <app-comfirmed  *ngIf="Step==5"></app-comfirmed>
  <!--End Form Step 5 comfirmed -->
</div>


