html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
/**Step 2 step-select-car*/
body {
    /* font-family: 'Source Sans Pro', sans-serif; */
    background-color: #f8f8f8;
}
.fontSSP {
    font-family: 'Source Sans Pro', sans-serif;
}
img {
    max-width: 100%;
}
.mdl-none{
    display: none;
}
.mt-2 {
    margin-top: 20px;
}
.mt-3 {
    margin-top: 30px;
}
.mdl-none {
    display: none;
}
.mh-4 {
    min-height: 40px;
}
.mdl-grid-flex {
    display: flex;
}
.mdl-container {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;
}
.mdl-block {
    display: block;
}
.mdl-mt-2 {
    margin-top: 10px;
}
.mdl-line {
    position: absolute;
    left: calc(10% + 8px);
    width: calc(80% - 16px);
    top: calc(50% - 16px);
    z-index: 0;
}
.mdl-line:before {
    content: "";
    display: block;
    height: 1px;
    background-color: #d2d5d9;
}
.mdl-line:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: #00467f;
}
.mdl-line-2:after {
    width: calc(25% - 16px);
}
.mdl-line-3:after {
    width: calc(50% - 16px);
}
.mdl-line-4:after {
    width: calc(75% - 16px);
}
.mdl-line-5:after {
    width: calc(100% - 16px);
}
.mdl-navigation-controls .mdl-button {
    background-color: #f8f8f8;
    border: 1px solid #d2d5d9;
    z-index: 1;
    font-size: 28px;
    color: #d2d5d9;
}
.mdl-navigation-controls .label-control {
    font-size: 16px;
    color: #d2d5d9;
}
.mdl-navigation-controls .is-active .mdl-button {
    background-color: #00467f;
    color: #fff;
}
.mdl-navigation-controls .is-active .label-control {
    color: #00467f;
}
.mdl-content-form {
    margin: 30px 60px;
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
}
.label-control {
    font-size: 22px;
    color: #000;
    font-weight: 400;
    display: block;
    margin-bottom: 10px;
    font-weight: 500;
}
.label-control .material-icons {
    font-size: 30px;
    width: 30px;
    top: 5px;
    position: relative;
}
.checked .material-icons {
    font-size: 18px;
    width: 26px;
    top: 3px;
    position: relative;
}
.material-icons {
    color: #00467f;
}
.form-control {
    width: 100%;
}
.form-control-5 {
    width: 50%;
    float: left;
}
.mdl-layout-title {
    font-size: 34px;
    margin-bottom: 20px;
}
.color-blue {
    color: #00457e;
}
.color-blue2 {
    color: #15a1ad;
}
.bt-1 {
    border-top: 1px solid #ededed;
    padding: 12px 0 5px;
}
.error-field {
    color: #f44336;
}
.mdl-text-center {
    text-align: center;
}
.mdl-text-right {
    text-align: right;
}
.mdl-float-right {
    float: right;
}
.R-width-auto {
    width: auto;
}
.control-navigation > button {
    position: relative;
    background-color: #00467f;
    color: #fff;
    font-size: 22px;
    padding: 10px 100px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin: 0 10px;
}
.control-navigation > button .mat-icon {
    position: absolute;
    right: 30px;
    top: 10px;
}
.form-group .mdl-content {
    color: #00467f;
    font-size: 28px;
    line-height: 30px;
    font-weight: 500;
}
label.mdl-radio {
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.show-resulf {
    color: #ff2a00;
    font-size: 22px;
    position: relative;
    margin: 30px auto;
}
.mdl-timepicker .mdl-content {
    text-transform: uppercase;
}
.mdl-content-normal {
    padding: 5px 30px;
    font-size: 15px;
    line-height: 25px;
}
.collase {
    cursor: pointer;
    color: #00467f;
    font-size: 22px;
}
.collase .mat-icon {
    position: relative;
    top: 8px;
    font-size: 30px;
}
.mdl-text-bold {
    font-weight: bold;
}
.text-contact-form {
    font-size: 22px;
    line-height: 34px;
    font-family: 'Source Sans Pro';
}
.step-success .label-control {
    font-size: 40px;
    line-height: 45px;
    font-family: 'Source Sans Pro';
}
.step-success .mdl-content {
    font-size: 28px;
    line-height: 38px;
}
.step-success .close-reservation {
    font-family: 'Source Sans Pro';
    color: #fff;
    font-size: 22px;
    background-color: #00467f;
    padding: 5px 110px;
    text-decoration: none;
}
.mdl-radio-MeetGreet .label {
    text-transform: uppercase;
    font-size: 18px;
}
.mdl-radio-MeetGreet .mdl-radio__label {
    font-size: 16px;
}

select.form-control,
input.form-control{
    padding: 0;
    background-color: #fcfcfc;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
    height: 38px;
    text-indent: 10px;   
}
textarea.form-control{
    padding: 0;
    background-color: #fcfcfc;
    border: 1px solid #d9d9d9;
    border-radius: 3px;   
}
.mdl-button-add{
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 0px 15px;
    line-height: 34px;
    cursor: pointer;
}
.mdl-button-add .material-icons{
    position: relative;
    top: 6px; 
}
.mat-icon-delete{
    background-color: transparent;
    border: 0;
    min-height: 40px;
    padding: 0;
    cursor: pointer;  
}
.ShowItemField{
    position: relative;
    margin-bottom: 10px;
}
[ShowAutocomplete]{
    position: absolute;
    width: 100%;
    background-color: #fff; 
    z-index: 2;
}
[ShowAutocomplete] ul{
list-style: none;
padding: 0;
border: 1px solid #dad8d9;
max-height: 200px;
overflow: auto;
}
[ShowAutocomplete] ul li{
    cursor: pointer;
    padding: 5px;
}
[ShowAutocomplete] ul li:hover{
    background-color: #f8f8f8;
}
[showdatasupport] .material-icons{
    font-size: 18px;
    width: 26px;
    top: 3px;
    position: relative;  
}
.notes{
    font-size: 14px;
    font-style: italic;
    display: block;
    text-indent: 30px;
    margin-bottom: 20px;   
}
.show-one-col .form-control-5{
    width: 100%;
}
[PaymentInfoCard] .form-group::after{
    content: "";
    display: block;
    clear: both;
}
[showautocomplete] ul li .material-icons{
    font-size: 24px;
    top: 4px;
    position: relative;
    width: 28px;  
}
.searchALL .location{
    color: #d9d9d9;
    top: 6px;
    position: relative; 
} 
.searchALL ul li:hover .location{
    color: #00467f;  
}
.ShowTypePickUpChoose{
    position: absolute;
    top: 1px;
    left: 2px;
    height: 38px;
    width: 36px;
    text-align: center;
    border-right: 1px solid #d9d9d9; 
}
.ShowItemField .SearchPickUpFieldAll{
    text-indent: 45px;   
}
.ShowTypePickUpChoose span.material-icons{
    position: relative;
    top: 6px;
}