<div class="mdl-step-1 mdl-content-form">
    <div class="mdl-layout-title">New Reservation</div>
    <div class="mdl-grid">
        <!--Colume left-->
      <div class="mdl-cell mdl-cell--6-col">
        <!--- Pick up date -->
        <div class="form-group" >
          <label class="label-control"><mat-icon>today</mat-icon> Pick up date</label>
          <form [formGroup]="PickDateDefault">
          <mat-form-field appearance="fill" class="form-control">
            <mat-datepicker-toggle matSuffix [for]="PickUpDate"></mat-datepicker-toggle>
            <input matInput  [matDatepicker]="PickUpDate"  (click)="PickUpDate.open()"   formControlName="date" placeholder="Date"  (dateChange)="DateEvent('PickUpDate',$event)" readonly>
            <div class="error-field" *ngIf="Check_form && !Reservation.PickUpDate">Pick up date is required. </div>
            <mat-datepicker #PickUpDate ></mat-datepicker>
            <mat-label>Pick up date</mat-label>
          </mat-form-field>
        </form>
        </div>
        <!--- Pick up from -->
        <div class="form-group">
          <label class="label-control"><mat-icon class="color-blue">room</mat-icon> Where should we pick you up?</label>
            <mat-form-field appearance="fill" class="form-control">
              <mat-label>Address Airport City Train Port</mat-label>
              <mat-select (selectionChange)="DateEvent('PickUpFrom',$event)" value="{{Reservation.PickUpFrom}}">
                <mat-option value="{{ option.name }}" *ngFor="let option of PickUpFromData, let o = index">{{ option.label }}</mat-option>
              </mat-select>
            </mat-form-field>

        </div>
        <!--- End Pick up from -->  

      </div>
       <!--End colume left-->

      <!--Colume right-->
      <div class="mdl-cell mdl-cell--6-col">
        <div class="form-group">
          <label class="label-control"><mat-icon>schedule</mat-icon> Pick Up Time</label>
          <!---Choose Time-->
          <mat-form-field appearance="fill"  class="form-control">
            <mat-label>
              <mat-icon>schedule</mat-icon> Pick Up Time
            </mat-label>
            <input matInput  aria-label="default time" [ngxTimepicker]="defaultValue" [value]="Reservation.PickUpTime"   readonly>
            <ngx-material-timepicker #defaultValue (timeChanged)="timeChanged($event)"></ngx-material-timepicker>
          </mat-form-field>
        </div>

         <!--- Pick up To -->
      <div class="form-group">
        <label class="label-control"><mat-icon class="color-blue2">room</mat-icon> Where are you going?</label>
        <mat-form-field appearance="fill" class="form-control">
          <mat-label>Address Airport City Train Port</mat-label>
          <mat-select (selectionChange)="DateEvent('PickUpTo',$event)" value="{{Reservation.PickUpTo}}">
            <mat-option value="{{ option.name }}" *ngFor="let option of PickUpFromData, let o = index">{{ option.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <!--- End Pick up To -->  

      </div>
      <!--End Colume right-->

     

    </div>
    <div class="mdl-grid bt-1">
        <!--- Pick Up Type -->
        <div class="mdl-cell mdl-cell--4-col">
            <div class="form-group">
                <label class="label-control"><mat-icon>assignment_turned_in</mat-icon> Pick Up Type</label>
                <mat-form-field appearance="fill" class="form-control">
                  <mat-select disableRipple (selectionChange)="DateEvent('PickUpType',$event)" value="{{Reservation.PickUpType}}">
                    <mat-option value="{{item.name}}"  *ngFor="let item of PickUpType,let i = index">{{item.option}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
        </div>
        <!--- End Pick Up Type -->
         <!--- Passenger -->
         <div class="mdl-cell mdl-cell--4-col">
            <div class="form-group">
                <label class="label-control"><mat-icon>people</mat-icon> Passenger(s)</label>
                <mat-form-field appearance="fill" class="form-control">
                    <input type="number"  min="1" value="{{  Reservation.Passenger }}" matInput  (change)="InputEvent('Passenger',$event)">
                  </mat-form-field>
              </div>
        </div>
        <!--- End Passenger -->  
         <!--- Luggage -->
         <div class="mdl-cell mdl-cell--4-col">
            <div class="form-group">
                <label class="label-control"><mat-icon>luggage</mat-icon> Luggage(s)</label>
                <mat-form-field appearance="fill" class="form-control">
                    <input type="number" min="1" value="{{  Reservation.Luggage }}" matInput  (change)="InputEvent('Luggage',$event)">
                  </mat-form-field>
              </div>
        </div>
        <!--- End Luggage -->  

          <!--- Luggage -->
          <div class="mdl-cell mdl-cell--4-col" *ngIf="Reservation.PickUpType=='HR'">
            <div class="form-group">
                <mat-form-field appearance="fill" class="form-control">
                    <input type="number" min="1" placeholder="Estimated # Hours" matInput  (change)="InputEvent('PickUpTypeHours',$event)" value="{{  Reservation.PickUpTypeHours}}">
                    <div class="error-field" *ngIf="!Reservation.PickUpTypeHours && Check_form">Hours is required. </div>
                  </mat-form-field>
              </div>
        </div>
        <!--- End Luggage -->  
    </div>


     <!--- Support -->  
    <div class="mdl-grid bt-1">
        <div class="mdl-cell mdl-cell--8-col">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect form-control-5" for="checkbox-{{ item.name }}" *ngFor="let item of Supports, let s = index" >
                <input type="checkbox" id="checkbox-{{item.name}}" class="mdl-checkbox__input" value="{{ item.name }}" (change)="SupportEvent(s,item.name,$event)" checked="{{ item.checked?'checked':'' }}">
                <span class="mdl-checkbox__label">{{ item.label }}</span>
              </label>           
        </div>
    </div>

    <!---End Support -->  
    <!--- Add Stops -->
    <div class="mdl-grid bt-1">
        <div class="add-control mdl-text-center form-control">
              <button mat-stroked-button color="primary" class="mdl-button-add" (click)="AddNewStops()">
                <mat-icon>add</mat-icon> Add Stops
              </button>
        </div>
    </div>

    <div class="mdl-grid mdl-mt-2" *ngFor="let item of AddStops, let s = index">
        <div class="mdl-cell mdl-cell--6-col" >
            <label class="form-control-5">Address / Airport</label>
            <div class="form-control-5 mdl-float-right mdl-text-right mh-4">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect R-width-auto" for="AS-checkbox-{{s}}" >
                <input type="checkbox" id="AS-checkbox-{{s}}" class="mdl-checkbox__input" (change)="AddStopEvent(s,'Route',$event)" checked="{{ item?.Route }}">
                <span class="mdl-checkbox__label">En Route</span>
              </label>  
            </div>  
              <div class="form-group mdl-mt-2">
                <mat-form-field appearance="fill" class="form-control">
                    <input placeholder="Address / Airport" matInput value="{{ item.address }}"  (change)="AddStopEvent(s,'address',$event)">
                  </mat-form-field>
              </div>
        </div>  

        <div class="mdl-cell mdl-cell--6-col" >
            <label class="form-control-5">Est. Minutes</label>
            <div class="form-control-5 mdl-float-right mdl-text-right">
            <button mat-icon-button color="accent" (click)="DeleteStops(s)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>  
              <div class="form-group mdl-mt-2">
                <mat-form-field appearance="fill" class="form-control">
                    <input type="number" min="20" matInput  value="{{ item.EstMinutes }}" (change)="AddStopEvent(s,'EstMinutes',$event)">
                  </mat-form-field>
              </div>
        </div> 
    </div>
    <!--- End add Stops -->

    <div class="control-navigation mdl-text-center mdl-mt-2">
      <!-- Accent-colored raised button with ripple -->
      <button type="button" (click)="check_forms()">
        Select Car and Rates <mat-icon>arrow_forward</mat-icon>
      </button>
  </div>
  </div>