<div class="mdl-step-4 step-success mdl-content-form">
    <div class="success mdl-grid">
       <div class="mdl-cell mdl-cell--12-col mdl-text-center">
           <img src="/assets/images/success.png">
       </div>
       <div class="mdl-cell mdl-cell--12-col mdl-text-center mt-2">
        <label class="label-control mdl-text-bold">Booking Confirmed !</label>
        </div>
        <div class="mdl-cell mdl-cell--12-col mdl-text-center mt-2">
            <div class="mdl-content" [innerHTML] ="content"></div>
            <div class="form-group mt-2">
                <a href="{{ redirect_url }}" mat-flat-button class="close-reservation">Close</a>
            </div>
        </div>
    </div>
</div>