<div class="mdl-step-3 step-select-car mdl-content-form">
    <!---Time-->    
    <div class="mdl-grid">
        <!--Colume left-->
      <div class="mdl-cell mdl-cell--6-col">
           <!--- Pick up date -->
        <div class="form-group">
            <label class="label-control"><mat-icon>today</mat-icon>  Pick up date</label>
            <div class="mdl-content">{{Reservation.PickUpDate | date : 'EEEE MMM d, y' }}</div>
          </div>

        </div>
        <!--Colume right-->
      <div class="mdl-cell mdl-cell--6-col">
          <!--- Pick up time -->
        <div class="form-group mdl-timepicker">
            <label class="label-control"><mat-icon>schedule</mat-icon> Pick up time</label>
            <div class="mdl-content">{{Reservation.PickUpTime}}</div>
          </div>

        </div>
     </div>  

        <!---Pick Up-->
     <div class="mdl-grid bt-1">
        <!--Colume left-->
      <div class="mdl-cell mdl-cell--6-col">
        <!--- Pick up from -->
        <div class="form-group">
            <label class="label-control"><mat-icon class="color-blue">room</mat-icon> Pick Up From</label>
            <mat-form-field appearance="fill" class="form-control" *ngFor="let field of PickUpFromField.From[Reservation.PickUpFrom], let f = index">
              <mat-label>{{ field.label }}{{ field.required?'*':'' }}</mat-label>
              <input type="text" 
              placeholder=""
              aria-label="Number"
              matInput
              value="{{ field.value }}"
              [matAutocomplete]="auto" (keyup)="ChangeFormPickUp(f,'From',Reservation.PickUpFrom,$event)">
              <div class="error-field" *ngIf="Check_form && !field.value && field.required">Field is required. </div>
              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="SelectAutocomplete(f,'From',Reservation.PickUpFrom,$event)">
                <mat-option *ngFor="let option of filteredOptionsFrom">
                  {{option.label}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>  

          </div>
        <!--- End Pick up from -->  

      </div>
       <!--End colume left-->

      <!--Colume right-->
      <div class="mdl-cell mdl-cell--6-col">
         <!--- Pick up To -->
      <div class="form-group">
        <label class="label-control"><mat-icon class="color-blue2">room</mat-icon> Drop Off Destination</label>
        <mat-form-field appearance="fill" class="form-control" *ngFor="let field of PickUpFromField.To[Reservation.PickUpTo], let f = index">
          <mat-label>{{ field.label }}{{ field.required?'*':'' }}</mat-label>
          <input type="text" 
          placeholder=""
          aria-label="Number"
          matInput
          value="{{ field.value }}"
          [matAutocomplete]="auto" (keyup)="ChangeFormPickUp(f,'To',Reservation.PickUpTo,$event)">
          <div class="error-field" *ngIf="Check_form && !field.value && field.required">Field is required. </div>
          <mat-autocomplete #auto="matAutocomplete" (optionSelected)="SelectAutocomplete(f,'To',Reservation.PickUpTo,$event)">
            <mat-option *ngFor="let option of filteredOptionsFrom">
              {{option.label}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>   
          </div>
      <!--- End Pick up To -->  

      </div>
      <!--End Colume right-->

     

    </div>

    <!--- Number -->
    <div class="mdl-grid bt-1">
        <!--- Pick Up Type -->
        <div class="mdl-cell mdl-cell--4-col">
            <div class="form-group">
                <label class="label-control"><mat-icon>assignment_turned_in</mat-icon> Pick Up Type</label>
                <div class="mdl-content-normal">
                  <div class="mdl-content">{{ PickUpType[Reservation.PickUpType] }}  {{ Reservation.PickUpType=='HR'?'('+Reservation.PickUpTypeHours +' hours)':''     }}</div>
                </div>
              </div>
        </div>
        <!--- End Pick Up Type -->
         <!--- Passenger -->
         <div class="mdl-cell mdl-cell--4-col">
            <div class="form-group">
                <label class="label-control"><mat-icon>people</mat-icon> Passenger(s)</label>
                <div class="mdl-content-normal">
                  <div class="mdl-content">{{ Reservation.Passenger | number:'2.0' }}</div>
                </div>
              </div>
        </div>
        <!--- End Passenger -->  
         <!--- Luggage -->
         <div class="mdl-cell mdl-cell--4-col">
            <div class="form-group">
                <label class="label-control"><mat-icon>luggage</mat-icon> Luggage(s)</label>
                <div class="mdl-content-normal">
                  <div class="mdl-content">{{ Reservation.Luggage  | number:'2.0' }}</div>
                </div>
                
              </div>
        </div>
        <!--- End Luggage -->  
    </div>

     <!--- Support -->  
     <div class="mdl-grid ">
        <div class="mdl-cell mdl-cell--8-col">
            <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect form-control-5 {{ item.checked?'checked':'mdl-none' }}" for="checkbox-{{ item.name }}" *ngFor="let item of Reservation.Supports, let s = index" >
                <mat-icon>check</mat-icon>
                <span class="mdl-checkbox__label">{{ item.label }}</span>
              </label>           
        </div>
    </div>

         <!--- Passenger Information -->  
         <div class="mdl-grid bt-1">
            <div class="mdl-cell mdl-cell--12-col">
                <label class="label-control"><mat-icon>people</mat-icon> Passenger Information</label>
              </div>
              <!---First Name*-->
            <div class="mdl-cell mdl-cell--6-col">
                <mat-form-field appearance="fill" class="form-control">
                    <mat-label>First Name*</mat-label>
                    <input  matInput  value="{{ PassengerInformation.FirstName }}" (change)="ChangeEvent('FirstName',$event)">
                    <div class="error-field" *ngIf="Check_form && !PassengerInformation.FirstName">Field is required. </div>
                  </mat-form-field>        
            </div>

             <!---Last Name*-->
             <div class="mdl-cell mdl-cell--6-col">
                <mat-form-field appearance="fill" class="form-control">
                    <mat-label>Last Name*</mat-label>
                    <input  matInput  value="{{ PassengerInformation.LastName }}" (change)="ChangeEvent('LastName',$event)">
                    <div class="error-field" *ngIf="Check_form && !PassengerInformation.LastName">Field is required. </div>
                  </mat-form-field>        
            </div>

             <!---Email Address*-->
             <div class="mdl-cell mdl-cell--6-col">
                <mat-form-field appearance="fill" class="form-control">
                    <mat-label>Email Address*</mat-label>
                    <input  matInput  value="{{ PassengerInformation.EmailAddress }}" (change)="ChangeEvent('EmailAddress',$event)">
                    <div class="error-field" *ngIf="Check_form && !isEmail(PassengerInformation.EmailAddress)">Email is invalid. </div>
                  </mat-form-field>        
            </div>

            <!---Contact Number*-->
            <div class="mdl-cell mdl-cell--6-col">
                <mat-form-field appearance="fill" class="form-control">
                    <mat-label>Contact Number*</mat-label>
                    <input  matInput  value="{{ PassengerInformation.ContactNumber }}" (change)="ChangeEvent('ContactNumber',$event)">
                    <div class="error-field" *ngIf="Check_form && !PassengerInformation.ContactNumber">Field is required. </div>
                  </mat-form-field>        
            </div>


        </div>

        <!--- Booker Information (Optional) -->  
        <div class="mdl-grid bt-1">
            <div class="mdl-cell mdl-cell--12-col">
                <label class="label-control"><mat-icon>info</mat-icon> Booker Information (Optional)</label>
              </div>
              <!---IATAN # / Account #-->
            <div class="mdl-cell mdl-cell--6-col">
                <mat-form-field appearance="fill" class="form-control">
                    <mat-label>IATAN # / Account #</mat-label>
                    <input  matInput  value="{{ PassengerInformation.IATANAccount }}" (change)="ChangeEvent('IATANAccount',$event)">
                    <div class="error-field" *ngIf="Check_form && !PassengerInformation.IATANAccount">Field is required. </div>
                  </mat-form-field>        
            </div>

             <!---Full Name-->
             <div class="mdl-cell mdl-cell--6-col">
                <mat-form-field appearance="fill" class="form-control">
                    <mat-label>Full Name</mat-label>
                    <input  matInput  value="{{ PassengerInformation.FullName }}" (change)="ChangeEvent('FullName',$event)">
                    <div class="error-field" *ngIf="Check_form && !PassengerInformation.FullName">Field is required. </div>
                  </mat-form-field>        
            </div>

             <!---Email Address-->
             <div class="mdl-cell mdl-cell--6-col">
                <mat-form-field appearance="fill" class="form-control">
                    <mat-label>Email Address</mat-label>
                    <input type="email"  matInput  value="{{ PassengerInformation.EmailAddressBooker }}" (change)="ChangeEvent('EmailAddressBooker',$event)">
                    <div class="error-field" *ngIf="Check_form && !isEmail(PassengerInformation.EmailAddressBooker)">Email is invalid. </div>
                  </mat-form-field>        
            </div>

            <!---Contact Number-->
            <div class="mdl-cell mdl-cell--6-col">
                <mat-form-field appearance="fill" class="form-control">
                    <mat-label>Contact Number</mat-label>
                    <input  matInput  value="{{ PassengerInformation.ContactNumberBooker }}" (change)="ChangeEvent('ContactNumberBooker',$event)">
                    <div class="error-field" *ngIf="Check_form && !PassengerInformation.ContactNumberBooker">Field is required. </div>
                  </mat-form-field>        
            </div>
            

        </div>

        <!--- Rewards (Optional) -->  
        <div class="mdl-grid bt-1">
            <div class="mdl-cell mdl-cell--12-col">
                <label class="label-control"><mat-icon>emoji_events</mat-icon> Rewards (Optional)</label>
              </div>
              <!---United Mileage Account-->
            <div class="mdl-cell mdl-cell--6-col">
                <mat-form-field appearance="fill" class="form-control">
                    <mat-label>United Mileage Account</mat-label>
                    <textarea  matInput rows="5"  (change)="ChangeEvent('UnitedMileageAccount',$event)">{{ PassengerInformation.UnitedMileageAccount }}</textarea>
                  </mat-form-field>        
            </div>
            
        </div>


        <!--- Rewards (Optional) -->  
        <div class="mdl-grid bt-1">
            <div class="mdl-cell mdl-cell--12-col">
                <label class="label-control"><mat-icon>military_tech</mat-icon> Rewards (Optional)</label>
              </div>
              <!---United Mileage Account-->
            <div class="mdl-cell mdl-cell--12-col">
                <mat-form-field appearance="fill" class="form-control">
                    <textarea  matInput rows="10"  (change)="ChangeEvent('RewardsOptional',$event)">{{ PassengerInformation.RewardsOptional }}</textarea>
                  </mat-form-field>        
            </div>
            
        </div>


    
    <!--- Next step-->  
    <div class="control-navigation mdl-text-center mdl-mt-2">
         <!-- Back -->
         <button type="button" (click)="UpdateBack(2)">
          Back 
      </button>
        <!-- Accent-colored raised button with ripple -->
        <button type="button" (click)="check_forms()">
            Summarize and Payment <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>



</div>     
